@font-face {
    font-family: 'Ticketing';
    src: url(font/Ticketing.woff2) format('woff2');
}

body {
    background-color: #121212;
    color: aliceblue;
    font-family: Ticketing;
    text-align: center;

}

.titlebox {
    background-color: #191f25;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    padding: 20px;
}

.contenido {
    display: flex;
    justify-content: center;
    
}

.box {
    
    background-color: #191f25;
    border: 2px solid white;
    min-width: 700px;
    min-height: 420px;
    margin: 16px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.box:hover {
    background-color: #2e3439;
}

.boxcontainer {
    display:grid;
    place-items: center;
}

.circle {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in-out;

}

.circle:hover {
    transform: rotate(180deg);
    transition: transform 1s;
    cursor: pointer;
}
  
.img {
    background-image: url("img/FzXaWl_XwAE9bdX.webp");
    width: 200px;
    height: 200px;
    background-size: 200px;
    transition: 0.6s ease-in-out
    
}

.img:hover {
    background-image: url("img/lupa.webp");
    filter: drop-shadow(10px 10px 0px #8f9396);
    transform: translate(-10px,-10px);
    
}

.xion {
    height: 250px;
    width: 350px;
}

.xion:hover {
    animation: xionanime 2s ease-in-out;
}

@keyframes xionanime {
    25% {
        translate: -100px;
        rotate: -30deg;
    }
    50% {
        scale: 1.2;
    }
    75% {
        translate: 100px;
        rotate: 30deg;
    }
    100% {
        opacity: 50%;
    }
}

.futer {
    position: flex; /* Permite superponer el footer */
    bottom: 0; /* Coloca el footer en la parte inferior del .box */
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el footer */
    color: white; /* Color del texto del footer */
    padding: 10px; /* Espaciado para el contenido del footer */
}

.pongbox {
    height: auto;
    width: 950px;
    background-color: #191f25;
    border: #8f9396 solid 5px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-bottom: 10px;

}

.pongtitle {
    position: absolute;
}


.lienzo {
    background-color: #212b33;
}

.ponghover{
    transition: all ease-in 0.5s;
}
.ponghover:hover {
    background-color: #454a4f;
}

.endpage {
    background-image: url("img/endpage.webp");
    background-size: 600px;
    height: 400px;
    width: 600px;

    margin-top: 20px;
    
}

.sesenta,
.cien{
    padding: 10px;
    background-color: #191f25;
    border: 2px solid white;
    color: white;
    width: 80px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}











/** CSS DARK THEME PRIMARY COLORS 
 
 --color-primary-100:  #03a9f4;
 --color-primary-200:  #4ab2f5;
 --color-primary-300:  #6abcf7;
 --color-primary-400:  #84c5f8;
 --color-primary-500:  #9bcefa;
 --color-primary-600:  #b1d8fb;
 
 
/** CSS DARK THEME SURFACE COLORS 
 
 --color-surface-100:  #121212;
 --color-surface-200:  #282828;
 --color-surface-300:  #3f3f3f;
 --color-surface-400:  #575757;
 --color-surface-500:  #717171;
 --color-surface-600:  #8b8b8b;
 
 
/** CSS DARK THEME MIXED SURFACE COLORS 
 
 --color-surface-mixed-100:  #191f25;
 --color-surface-mixed-200:  #2e3439;
 --color-surface-mixed-300:  #454a4f;
 --color-surface-mixed-400:  #5d6166;
 --color-surface-mixed-500:  #76797e;
 --color-surface-mixed-600:  #8f9396;
 
 
/** EXAMPLES 
 
 color:  var(--color-primary-600);
 
 background-color:  var(--color-surface-300);

          
*/

      